<div class="top top_bar_new">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <span class="ntimings"><i class="fas fa-clock-o"></i> Morning - 6 AM to Evening - 9 PM &nbsp;&nbsp; | &nbsp;&nbsp; <i class="fas fa-phone-volume"></i> For Offline Order Please Call +91-0000000000</span>
      </div>
      <div class="col-xs-12  col-sm-6">
        <div class="top__menu">
          <ul class="nav  nav-pills">
            <!--<li><a href="store-locator.php"><i class="fa fa-map-marker"></i> Store Locations</a></li>-->
            <li><a [routerLink]="['/shop']" style=" font-family: sans-serif; font-size: 12px; line-height: 0.1; color: #413c35;"><i class="fas fa-check-circle" style="margin-right: 5px; font-size: 10px; "></i>Start Your Order  </a></li>
            <li><a [routerLink]="['./register']" style=" font-family: sans-serif; font-size: 12px; line-height: 0.1; color: #413c35;"><i class="fas fa-user-alt" style="margin-right: 5px; font-size: 10px; "></i>Register </a></li>
            <li><a [routerLink]="['./login']" style=" font-family: sans-serif; font-size: 12px; line-height: 0.1; color: #413c35;"><i class="fas fa-user-lock" style="margin-right: 5px; font-size: 10px; "></i>Login </a></li>
            <li><a [routerLink]="['./masters']" style=" font-family: sans-serif; font-size: 12px; line-height: 0.1; color: #413c35;"><i class="fas fa-user-lock" style="margin-right: 5px; font-size: 10px; "></i>Masters </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-xs-6  col-md-4">
        <div class="header-logo"> <a href=""><img alt="Logo" src="../assets/images/logo.png"></a> </div>
      </div>
      <!--<div class="col-xs-2  visible-sm  visible-xs">
        <div class="navbar-header hidden-xs hidden-sm">
          <button type="button" class="navbar-toggle  collapsed" data-toggle="collapse" data-target="#collapsible-navbar"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
      </div>-->
      <div class="col-xs-6 col-md-7" style="padding-right: 0px; padding-top: 18px;">

        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" [routerLink]="['/shop']">Shop</a>
          <a class="p-2 text-dark" [routerLink]="['/shop']">Products</a>
          <a class="p-2 text-dark" [routerLink]="['/contactus']">Contact Us</a>
          <a class="p-2 text-dark" [routerLink]="['/aboutus']">About Us</a>
        </nav>
        <!--<nav class="navbar  navbar-default hidden-xs hidden-sm" role="navigation">
     Collect the nav links, forms, and other content for toggling
    <div class="collapse navbar-collapse navbar-left" id="collapsible-navbar">
      <ul class="nav navbar-nav">
        <li><a href=""><i class="fas fa-home"></i></a></li>
        <li><a href="today-deals.php">Deals Of The Day</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Products<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li>
              <a href="products/chicken">Chicken </a>
            </li>
            <li>
              <a href="products/mutton">Mutton </a>
            </li>
            <li class="dropdown">
              <a href="products/fish" class="dropdown-toggle">Fish  <i class="fa  fa-caret-right"></i></a>
              <ul class="dropdown-menu">
                <li><a href="products/fish/sea-caught">Sea Caught</a></li>
                <li><a href="products/fish/river-caught">River Caught</a></li>
              </ul>
            </li>
            <li>
              <a href="products/ready2cook">Ready2Cook </a>
            </li>
            <li>
              <a href="products/cold-cuts">Cold Cuts </a>
            </li>
            <li>
              <a href="products/eggs">Eggs </a>
            </li>
            <li>
              <a href="products/desserts">Desserts </a>
            </li>
          </ul>
        </li>
        <li><a href="products.php?cat=1&scat=3">River Fish</a></li>
        <li><a href="about-us.php">About Us</a></li>
        <li><a href="why-meatonn.php">Why Meatonn?</a></li>
        <li><a href="support.php">Support</a></li>
      </ul>

    </div>
     /.navbar-collapse
  </nav>-->
        <!-- ***************************************************************************-->

        <!--<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">

            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>-->
              <!--<a class="navbar-brand" href="#">Brand</a>-->
            <!--</div>


            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


              <ul class="nav navbar-nav navbar-right">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>-->
                    <!--<li class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>
                    <li class="divider"></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </nav>-->

        <!-- ***************************************************************************-->
      </div>

    </div>
    <!--<div class="nav_bg">
      <div class="nav_bar"> <span></span> <span></span> <span></span> </div>
    </div>-->
    <!--<div class="col-xs-4 col-md-2" style="padding-left:0px;">-->
    <!-- Cart in header -->
    <!--<div class="header-cart">
      <a href="cart.php" class="header-cart__items"> <span class="header-cart__items-num">0</span> </a> <span class="header-cart__text--price"><span class="header-cart__text">CART</span> <i class="fa fa-rupee"></i> 0</span>-->
    <!-- Open cart panel -->
    <!--</div>
    </div>-->
  </div>

  <!--Search open pannel-->

</header>
